.container {
    display: flex;
    margin: 10vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
}

.media-container {
    display: flex;
    justify-content: center; /* Centers the iframe horizontally */
    align-items: center;    /* Centers the iframe vertically */
}

.nav_item{
    margin: 20px;
}

.main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_div{
    width: 60%;
}